
  .epilogue{
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: "Epilogue", sans-serif;
}

body{
	background-color: #1A1A1A;

}
